body {
  background-color: wheat;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 5px;
}

p {
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
}
.moves {
  font-size: 30px;
  margin-bottom: 10px;
}

.discOptions {
  font-size: 20px;
}

.disc {
  height: 50px;
  margin-top: 5px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  display: none;
  filter: drop-shadow(1px 3px 5px black);
  transition: filter 1s;
}
.disc:hover{
  filter: drop-shadow(1px 3px 5px blue);
}
#disc1 {
  width: 300px;
  background-color: forestgreen;
}

#disc2 {
  width: 275px;
  background-color: olivedrab;
}

#disc3 {
  width: 250px;
  background-color: teal;
}

#disc4 {
  width: 225px;
  background-color: darkcyan;
}

#disc5 {
  width: 200px;
  background-color: cadetblue;
}

#disc6 {
  width: 175px;
  background-color: lightseagreen;
}

#disc7 {
  width: 150px;
  background-color: MediumAquaMarine;
}

#disc8 {
  width: 125px;
  background-color: darkseagreen;
}

.rods {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/26/1c/da/261cda8980a2c021896da33dfb5ec3ce.jpg");
  background-size: 30px 450px;
  background-repeat: repeat-y;
  background-position: center;
  background-color: wheat;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 450px;
  width: 450px;
}

.container {
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 20px solid #4d3427;
  display: inline-flex;
}
.options{
  padding-top: 10px;
  padding-left: 10px;
  background-color: burlywood;
  width: 23%;
  border: 2px outset gold;
  filter: drop-shadow(1px 3px 10px gold);
}
